.app-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 24px;
  position: relative;

  &-left, &-right {
    display: flex;
    align-items: center;
  }

  &-left { flex-grow: 1; }
}